

.foot-category-title {
  width: 250px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  margin-bottom: 40px;
}

.foot-cover {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.foot-desc-txt {
  color:  #c5c8c9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15px;
}
.sns-context {
  position: relative;
  margin-left: 66px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 25px;
  width: 55px;
  margin-top: 30px;
}

.foot-category-mail {
  display: flex;
  width: 523px;
  padding: 30px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border: 2px solid var(--FFFFFF, #FFF);
  color: #c5c8c9;
  text-decoration: none;
}

.foot-mail-txt {
  color: var(--FFFFFF, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  
  /* Body */
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}

.subscribe {
  border: 2px solid #ccc;
  margin-left: 5px;
   width: 200px;
   height: 60px;
   border-radius: 0px 0px 40px 0px;
   background: #FFF;
   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   color: #C0A677;
}

.copyright-txt {
  margin-top: 17px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
}

.foot-category-title:after {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}

.foot-category-title:hover:after {
  transform: scaleX(1);
}
